body {
    margin: 0%;
    background: url(images/red.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-color: black;
}

.navbars ol li{
    color: whitesmoke;
    font-family: fantasy;
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.navbars {
    text-align: start;
}

.navbars a {
    text-decoration: none;
    color: whitesmoke;
}
.font {
    margin-top: 320px;
    margin-left: 50px;
}
.font p {
    color: whitesmoke;
    font-size: 80px;
    font-family: fantasy;
}